.App {
  text-align: center;
}
*{
  font-family: markazi;
  margin: 0px;
  padding: 0px;
}
p{
  color: white;
  font-size: 20px;
}

section{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  text-align: left;
  flex-wrap: wrap;
}

article{
  width: 400px;
  padding: 0px 20px 20px 20px;
}
h1{
  font-size: 52px;
  color: rgba(255, 255, 0, 0.86);
}
h2{
  font-size: 40px;
}
h3{
  font-size: 28px;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}